.sidebar-menu .nav-link {
  color: rgb(var(--nav-link));
}

.sidebar-menu .nav-link.active {
  color: rgb(var(--bs-dark));
  position: relative;
}

.sidebar-menu .nav-link.active::before {
  position: absolute;
  top: 0px;
  left: -17px;
  content: '';
  width: 3px;
  height: 100%;
  background-color: rgb(var(--bs-primary-rgb));
  display: block;
}

.sidebar-menu .nav-link:hover {
  color: rgb(var(--bs-dark));
}

.sidebar-menu span.nav-link {
  cursor: default;
}

.sidebar-menu span.nav-link:hover {
  color: rgb(var(--nav-link));
}

.sidebar-menu .section-item {
  font-size: 20px;
  color: rgb(var(--bs-primary-rgb));
  font-weight: bolder;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 17px;
  margin-top: 17px;
}

.sidebar-menu span.section-item:hover {
  color: rgb(var(--bs-primary-rgb));
}
