.code-snippet {
  margin-bottom: 17px;
}

.code-snippet pre {
  margin-bottom: 0px;
}

.code-snippet pre code {
  font-size: 16px;
  line-height: 26px;
  padding: 20px;
}

.code-snippet.no-border {
  border: 0 !important;
}

.code-snippet.loading {
  min-height: 150px;
}
