.tabs-wrapper .tab-content .tab-content {
  border: 0 !important;
}

.tabs-wrapper .tabs-wrapper {
  padding-top: 17px;
}

.tabs .nav-tabs {
  flex-wrap: nowrap;
}

.tabs .nav-tabs .nav-item {
  cursor: pointer;
  white-space: nowrap;
}

.tab-content .code-snippet {
  margin-bottom: 0px;
}
