<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/assets/images/favicon-16x16.png"
    />
    <title>
      Solid Form Handler - The SolidJS form engine for validating forms
    </title>
    <meta property="og:title" content="Solid Form Handler" />
    <meta
      property="og:description"
      content="The SolidJS form engine for validating forms."
    />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%- domain %>" />
    <meta
      property="og:image"
      content="<%- domain %>/images/solid-form-handler.png"
    />
    <%- adSenseScript %>
  </head>
  <body>
    <div id="root"></div>
    <script src="/src/index.tsx" type="module"></script>
  </body>
</html>
