.docs-layout {
  display: grid;
  grid-template-rows: 1fr;
  background-image: linear-gradient(
    to left,
    #fff,
    #fff 50%,
    rgba(243, 244, 246) 10%
  );
}

.docs-layout > div {
  display: grid;
  grid-template-columns: 230px 1fr 230px;
}

.docs-layout > div > div:nth-child(2) {
  display: grid;
}

.docs-layout > div > div:nth-child(3) > div {
  position: sticky;
  height: calc(100vh - 56px);
  top: 56px;
  padding: 20px 10px;
}

.docs-layout .ad-block-vertical {
  border: 1px solid #dee2e6;
  width: 100%;
  max-width: 230px;
  min-height: 320px;
}

.docs-layout .ad-block-horizontal {
  border: 1px solid #dee2e6;
  width: 100%;
  min-height: 90px;
}

.docs-layout .sidebar {
  position: sticky;
  top: 56px;
  overflow: auto;
  height: calc(100vh - 56px);
  padding-left: 20px;
  margin-left: -20px;
}

.docs-layout .sidebar .section-item {
  font-size: 18px;
}

.docs-layout .sidebar .nav-item > a {
  padding: 5px 0px;
}

.docs-layout .docs-content {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

@media (max-width: 1399px) {
  .docs-layout .sidebar {
    padding-left: 32px;
  }
}
