.docs-layout {
  display: grid;
  grid-template-rows: 1fr;
  background-image: linear-gradient(
    to left,
    #fff,
    #fff 50%,
    rgba(243, 244, 246) 10%
  );
}

.docs-layout .toggle-sidebar {
  position: fixed;
  right: 17px;
  top: calc(20px + var(--navbar-height));
  display: none;
  font-size: 24px;
  line-height: 20px;
}

.docs-layout > div {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.docs-layout > div > div:nth-child(2) {
  padding: 24px 20px 17px 40px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.docs-layout > div > div:nth-child(3) > div {
  position: sticky;
  height: calc(100vh - var(--navbar-height));
  top: var(--navbar-height);
  padding: 20px 10px;
}

.docs-layout .sidebar {
  position: sticky;
  top: var(--navbar-height);
  overflow: auto;
  height: calc(100vh - var(--navbar-height));
  padding-left: 20px;
  margin-left: -10px;
}

.docs-layout .add-wrapper {
  position: sticky;
  top: calc(var(--navbar-height) + 24px);
  height: calc(100vh - var(--navbar-height) - 48px);
  min-width: 200px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

.docs-layout .sidebar .section-item {
  font-size: 18px;
}

.docs-layout .sidebar .nav-item > a {
  padding: 5px 0px;
}

.docs-layout .docs-content {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .docs-layout .sidebar {
    padding-left: 32px;
  }
}

@media (max-width: 991px) {
  .docs-layout {
    background-image: none;
  }

  .docs-layout .toggle-sidebar {
    display: block;
  }

  .docs-layout > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .docs-layout > div > div:nth-child(1) {
    position: relative;
  }

  .docs-layout .sidebar {
    position: fixed;
    z-index: 1;
    top: var(--navbar-height);
    left: -440px;
    transition: left 0.7s;
    margin-left: 0px;
    width: 80%;
    max-width: 340px;
    -webkit-box-shadow: 6px 2px 5px -2px rgba(133, 133, 133, 0.46);
    -moz-box-shadow: 6px 2px 5px -2px rgba(133, 133, 133, 0.46);
    box-shadow: 6px 2px 5px -2px rgba(133, 133, 133, 0.46);
  }

  .docs-layout .sidebar.show {
    left: 0px;
  }

  .docs-layout > div > div:nth-child(2) {
    padding: 20px 10px;
  }

  .docs-layout .add-wrapper {
    display: none;
  }
}
