@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'font-awesome/css/font-awesome.min.css';

@font-face {
  font-family: Gordita;
  src: url(assets/fonts/gordita-regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: Gordita;
  src: url(assets/fonts/gordita-bold.woff);
  font-weight: bolder;
  font-weight: bold;
}

@font-face {
  font-family: Gordita;
  src: url(assets/fonts/gordita-regular-italic.woff);
  font-style: italic;
}

:root {
  --bs-primary-rgb: 77, 133, 193;
  --sidebar-bg: #f3f4f6;
  --nav-link: 107, 114, 128;
}

html,
body {
  height: 100%;
  scroll-behavior: initial !important;
}

#root {
  font-family: Gordita;
  min-height: 100vh;
}
