.navbar {
  height: var(--navbar-height);
}

.right-menu {
  font-size: 30px;
  line-height: 20px;
}

@media (max-width: 991px) {
  .right-menu {
    display: none;
  }

  .navbar {
    height: auto;
    min-height: var(--navbar-height);
  }
}

@media (max-width: 340px) {
  .navbar-brand {
    font-size: 16px;
  }
}
